body {
  background-color: #9d8189;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  color: #2f3e46;
  margin-bottom: 40px;
  margin-top: 100px;
  display: flex;
}

h2 {
  font-size: 30px;
  color: white;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}
#homepage {
  color: #2f3e46;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcad4;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 200px;
  border-radius: 50%;
}
#homepage:hover {
  background-color: azure;
  transition: transform 1s;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 20px;
  padding: 2rem;
  width: 5rem;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  background-color: #2f3e46;
  border-radius: 40px;
}

.btn:hover {
  cursor: pointer;
  transition: transform 1s;
  transform: scale(1.2);
}
